body {
    background-image: url(bg.png);
    min-height: 100vh;
    background-size: cover;
  }
  .bird-container{
    position: absolute;
    left: 20%;
    top: 50%;
    width: 120px;
    animation: flappyAnimation 4s infinite;
  }
  .bird-container img{
    width: 100%;
  }
  
  @keyframes flappyAnimation {
    0%{
      top: 20%;
      left: 30%;
      transform: rotate(-30deg)
    }
  
    60%{
      top: 60%;
      left: 20%;
      transform: rotate(30deg);
      /* width: 240px; */
    }
  
    100%{
      left: 30%;
      top: 20%;
      transform: rotate(-30deg)
  
    }
  }